name: PR
on:
  pull_request:
    branches:
      - main
      - '*.x'
  workflow_dispatch:
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # Setup go for Buf CLI's license-header support
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 'stable'
          cache: false # Disable built-in caching as there is no go.mod/go.sum
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/pom.xml') }} # pom.xml contains Buf CLI version
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup Java JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'
          check-latest: true
          cache: 'maven'
      - name: Build
        run: ./mvnw --batch-mode verify
